/* Product_List_01_1 */
.productItem_list {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 24px -8px 0;
  @include media(pc) {
    margin: 40px -15px 0;
  }
  &_item {
    margin: 0 0 40px;
    width: calc(100% / 2);
    padding: 0 8px;
    @include media(pc) {
      padding: 0 15px;
      width: calc(100% / 4);
    }
  }
}

//  Bundle
.BundleProductItem_list {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 20px 0 0;
  @include media(pc) {
    margin: 40px -15px 0;
  }
  &_item {
    margin: 0 0 40px;
    width: 100%;
    // padding: 0 8px;
    @include media(pc) {
      padding: 0 15px;
      width: calc(100% / 3);
    }
  }
}
