//common
@import '../common/mixins.scss';
@import '../common/variables.scss';
/*footer*/
.footer {
  border-top: 1px solid $color-paleGray;
  margin-top: 100px;
  .footer_inner {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 32px 20px calc(65px + 70px); // 모바일 하단 버튼으로 하단 padding 추가함
    margin: 0 auto;
    max-width: $layout-maxWidth;
    @include word-break;
    @include media(pc) {
      flex-direction: row;
      padding: 24px 15px calc(39px + 64px);
    }
  }
  .logo {
    width: 150px;
    height: 30px;
    flex-shrink: 0;
    img {
      width: 100%;
    }
  }
  .footer_nav {
    display: flex;
    flex-wrap: wrap;
    @include media(pc) {
      justify-content: normal;
    }
  }
  .footer_nav_item {
    display: flex;
    font-size: 18px;
    line-height: 22px;
    font-weight: $fontBold;
    color: $color-black;
    margin-top: 12px;
    margin-right: 24px;
    font-weight: $fontBold;
    @include media(pc) {
      margin-top: 0;
      margin-right: 40px;
      font-size: 16px;
      line-height: 21px;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }

  .footer_info_wrap {
    margin: 12px 0 0;
    @include media(pc) {
      margin: 0 0 0 100px;
    }
    .footer_notice {
      margin-top: 16px;
      font-size: 16px;
      line-height: 22px;
      color: $color-gray;
      @include media(pc) {
        margin-top: 8px;
        font-size: 14px;
        line-height: 18px;
      }
    }
    .footer_info {
      margin-top: 16px;
      font-size: 16px;
      line-height: 24px;
      @include media(pc) {
        display: flex;
        flex-wrap: wrap;

        font-size: 14px;
        line-height: 18px;
        margin-top: 8px;
      }
      .footer_info_item {
        margin-top: 5px;
        position: relative;
        padding-left: 104px;
        @include media(pc) {
          display: flex;
          padding-left: 0;
          margin-top: 8px;
          margin-right: 16px;
        }
        &:first-child {
          margin-top: 0;
          @include media(pc) {
            margin-top: 8px;
          }
        }
      }
      .footer_info_title {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-flex;
        font-weight: $fontBold;
        padding-right: 8px;
        @include media(pc) {
          position: static;
        }
      }
    }
  }
  .copyright {
    margin-top: 8px;
    display: block;
    font-size: 12px;
    line-height: 1.3;
    color: $color-gray2;
  }
}
