//common
@import '../common/mixins.scss';
@import '../common/variables.scss';

/*header_mobileMenu_wrap */
.header_mobileMenu_wrap {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: $color-gray-bg;
  z-index: 10;
  overflow-y: auto;
  transform: translateX(100%);
  transition: all 0.5s ease-out;
  will-change: transform;
  &.active {
    transform: translateX(0);
  }
  @include media(pc) {
    display: none !important;
  }
  .header_mobileMenu_top {
    display: flex;
    height: 60px;
    border-bottom: 1px solid #d7d7d7;
    box-sizing: border-box;
    @include includeClosePadding;
  }
  .header_mobileMenu_userlist {
    display: flex;
    align-items: center;
    margin-left: auto;
    button[class*='_button'] {
      &::after {
        content: '';
        display: block;
        width: 32px;
        height: 32px;
        margin-left: 4px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% auto;
        @include transition;
      }
    }
    .header_mobileMenu_userSearch_button {
      &::after {
        background-image: url('#{$imageUrl}/search_32@2x.png');
      }
    }
    .header_mobileMenu_userNotice_button {
      position: relative;
      &::after {
        background-image: url('#{$imageUrl}/button_notice_32@2x.png');
      }
      .new_notice {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #ff0075;
      }
    }
    .header_mobileMenu_userClose_button {
      position: relative;
      &::after {
        background-image: url('#{$imageUrl}/button_close_bold_32@2x.png');
      }
    }
  }
  .header_mobileMenu_userName_button {
    font-weight: $fontBold;
    &:after {
      @include arrow;
      border-color: $color-black;
      margin-left: 13px;
      margin-top: 3px;
      transform: rotate(135deg);
      margin-top: -5px;
    }
    &.active {
      &:after {
        margin-top: 3px;
        transform: rotate(-45deg);
      }
    }
  }
  .header_mobileMenu_userCard {
    margin: 24px 16px 0;
    padding: 40px 16px 0;
    background-color: #fff;
    box-shadow: $boxShadow;
    border-radius: 4px;
    overflow: hidden;
    display: none;
    &.active {
      display: block;
    }
  }

  .header_mobileMenu_userDetail_save_button {
    $sideSpace: 16px;
    width: calc(100% + $sideSpace * 2);
    height: 50px;
    margin: 40px #{-$sideSpace} 0;
    font-size: 18px;
    font-weight: $fontBold;
    color: #fff;
    background-color: $color-orange;
  }
  .header_mobileMenu_etc {
    margin: 16px 20px 0;
    display: flex;
    justify-content: center;
    .header_mobileMenu_etc_item {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      & + .header_mobileMenu_etc_item {
        &::before {
          content: '';
          display: block;
          width: 1px;
          height: 16px;
          background-color: #ccc;
        }
      }
    }
    [class^='menuList_etc_'] {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 33px;
      width: 100%;
      text-align: center;
      @include font16;
      @include transition;
      &:hover {
        color: $color-orange;
      }
      &::before {
        content: '';
        display: block;
        margin-right: 4px;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100% auto;
      }
    }
    .menuList_etc_service_button {
      &::before {
        background-image: url('#{$imageUrl}/button_service_24@2x.png');
      }
      &:hover {
        &::before {
          background-image: url('#{$imageUrl}/button_service_active_24@2x.png');
        }
      }
    }
    .menuList_etc_myInfo_button {
      &::before {
        background-image: url('#{$imageUrl}/button_myinfo_24@2x.png');
      }
      &:hover {
        &::before {
          background-image: url('#{$imageUrl}/button_myinfo_active_24@2x.png');
        }
      }
    }
  }
  .header_mobileMenu_menuList {
    display: flex;
    justify-content: space-between;
    padding: 16px 20px 24px;
    &_wrap {
      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 8px;
        background-color: #e8e8e8;
        box-shadow: inset 0 1px 1px #0000000d;
      }
    }

    &_item {
      [class$='_button'] {
        letter-spacing: -0.05px;
        min-width: 70px;
        min-height: 75px;
        text-align: center;
        @include font16;
        @include transition;
        &:hover {
          color: $color-orange;
        }
        &::before {
          content: '';
          display: block;
          margin: 0 auto 4px;
          width: 32px;
          height: 32px;
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 100% auto;
        }
        &.menuList_item_event_button {
          &::before {
            background-image: url('#{$imageUrl}/button_event_32@2x.png');
          }
          &:hover {
            &::before {
              background-image: url('#{$imageUrl}/button_event_active_32@2x.png');
            }
          }
        }
        &.menuList_item_favorite_button {
          &::before {
            background-image: url('#{$imageUrl}/button_heart_32@2x.png');
          }

          &:hover {
            &::before {
              background-image: url('#{$imageUrl}/button_favorite_active_32@2x.png');
            }
          }
        }
        &.menuList_item_cart_button {
          &::before {
            background-image: url('#{$imageUrl}/button_cart_32@2x.png');
          }
          &:hover {
            &::before {
              background-image: url('#{$imageUrl}/button_cart_active_32@2x.png');
            }
          }
        }
        &.menuList_item_prCenter_button {
          &::before {
            background-image: url('#{$imageUrl}/button_prcenter_32@2x.png');
          }
          &:hover {
            &::before {
              background-image: url('#{$imageUrl}/button_prcenter_active_32@2x.png');
            }
          }
        }
      }
      .cartCount {
        margin-left: 3px;
      }
    }
  }
  .header_mobileMenu_tab {
    margin: 24px 20px 0;
    width: auto;
    .tab_item {
      width: 50%;
      flex: none;
    }
    .tab_item_button {
      min-height: 50px;
      &::before {
        background-color: transparent !important;
      }
      &.active {
        &::before {
          background-color: $color-orange !important;
        }
      }
    }
  }
}

.header_mobileMenu_shortcuts_button {
  display: flex;
  align-items: center;
  margin: 0 20px 0 auto;
  min-height: 40px;
  font-size: 16px;
  line-height: 28px;
  font-weight: $fontBold;
  &::after {
    content: '';
    display: block;
    margin: auto;
    width: 24px;
    height: 24px;
    background: url('#{$imageUrl}/ico_next_32@2x.png') no-repeat 0 0;
    background-size: 100% auto;
  }
}
.header_mobileMenu_category {
  width: 50%;
  @include word-break;
  font-size: 18px;
  padding-bottom: 40px;
  &_wrap {
    display: flex;
  }
  &_item {
    & > a,
    & > button {
      flex: 1;
      width: 100%;
      display: flex;
      align-items: center;
      min-height: 50px;
      padding: 0 0 0 20px;
      &.active {
        font-weight: $fontBold;
        background-color: #fff;
      }
    }
  }
}
.header_mobileMenu_category_depth01 {
  display: none;
  width: 50%;
  @include word-break;
  background-color: #fff;
  font-size: 18px;
  padding-bottom: 40px;
  &.active {
    display: block;
  }
  &_item {
    & > a,
    & > button {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      min-height: 51px;
      padding: 0 20px 0 12px;
      border-bottom: 1px solid $color-gray-bg;
      &::after {
        content: '';
        display: block;
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        transform: rotate(90deg);
        background: url('#{$imageUrl}/ico_next_32@2x.png') no-repeat 0 0;
        background-size: 100% auto;
        @include transition;
      }
      &.active {
        font-weight: $fontBold;
        &::after {
          transform: rotate(270deg);
        }
        & ~ .header_mobileMenu_category_depth02 {
          display: block;
        }
      }
    }
    .link {
      &::after {
        transform: rotate(0);
      }
    }
  }
}
.header_mobileMenu_category_depth02 {
  display: none;
  background-color: #fffaf6;
  transition: height 0.2s ease-out;
  &_item {
    & > a,
    & > button {
      display: flex;
      align-items: center;
      min-height: 50px;
      padding: 0 0 0 20px;
      color: $color-gray;
      &:hover {
        color: $color-orange;
        font-weight: $fontBold;
      }
    }
  }
}
