//common
@import '../common/mixins.scss';
@import '../common/variables.scss'; /* productItem */
.searchWord {
  margin: 24px auto 5px;
  max-width: 1000px;
  @include media(pc) {
    margin: 60px auto 10px;
    text-align: center;
  }
  .searchWord_inner {
    display: flex;
    height: 49px;
    border-bottom: 1px solid $color-black;
  }
  .searchWord_input {
    border: 0;
    height: 100%;
    width: calc(100% - 66px);
    padding-left: 12px;
    font-size: 20px;
    font-weight: $fontBold;
    outline: none;
    background-color: transparent;
    @include media(pc) {
      font-size: 25px;
    }
  }
  .searchWord_button {
    padding: 0 17px;
    &::before {
      content: '';
      display: block;
      width: 32px;
      height: 32px;
      background: url('#{$imageUrl}/search_32@2x.png') center center no-repeat;
      background-size: 100% auto;
      @include media(pc) {
        width: 40px;
        height: 40px;
        background: url('#{$imageUrl}/search_40@2x.png') center center no-repeat;
        background-size: 100% auto;
      }
    }
  }
  .searchWord_text {
    margin: 15px 0 0;
    font-size: 18px;
    line-height: 1.6;
    @include media(pc) {
      margin-top: 32px;
      font-size: 20px;
    }
    .bold {
      color: $color-orange;
      font-size: 20px;
      font-weight: $fontBold;
      @include media(pc) {
        font-size: 26px;
      }
    }
  }
}
