@charset "UTF-8";
/* _mixins.scss */

@mixin blind {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
}

// mixins : layout
@mixin absolute-all($top: 0, $right: 0, $bottom: 0, $left: 0) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin placeholder($color) {
  &::placeholder {
    color: $color;
    opacity: 1;
  }
}

@mixin fixed-all($top: 0, $right: 0, $bottom: 0, $left: 0) {
  position: fixed;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
@mixin boxWhite {
  background-color: #fff;
  margin-left: #{-$layout-side};
  margin-right: #{-$layout-side};
  @include media(pc) {
    box-shadow: $boxShadow;
    margin-left: 0;
    margin-right: 0;
  }
}
@mixin noImage {
  background-color: $color-gray-hr;
  &::before {
    content: '등록된 이미지가 없습니다.';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-top: 45px;
    text-align: center;
    line-height: 18px;
    // font-size: 18px;
    font-size: clamp(0.9rem, 0.5vw, 18px);
    color: $color-gray;
    @include word-break;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 46px;
    height: 46px;
    flex-shrink: 0;
    background-image: url('#{$imageUrl}/noimg_60@2x.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% auto;
    margin: auto;
    transform: translateY(-25px);
    @include media(pc) {
      width: 60px;
      height: 60px;
    }
  }
}
@mixin logo {
  &::before {
    content: '';
    display: block;
    width: 120px;
    height: 40px;
    background-image: url('#{$imageUrl}/logo_mo@2x.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% auto;
    @include transition;
    @include media(pc) {
      width: 160px;
      height: 55px;
      background-image: url('#{$imageUrl}/logo_pc@2x.png');
    }
  }
}
@mixin logoPromotion {
  &::before {
    content: '';
    display: block;
    width: 141px;
    height: 40px;
    background-image: url('#{$imageUrl}/logo_promotion_mo@2x.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% auto;
    @include transition;
    @include media(pc) {
      width: 200px;
      height: 55px;
      background-image: url('#{$imageUrl}/logo_promotion_pc@2x.png');
    }
  }
}
@mixin includeClosePadding {
  padding: 0 12px 0 20px;
}
@mixin font26 {
  font-size: 26px;
  line-height: 32px;
  font-weight: $fontBold;
}
@mixin font20 {
  font-size: 20px;
  line-height: 25px;
}
@mixin font16 {
  font-size: 16px;
  line-height: 22px;
}
@mixin font18 {
  font-size: 18px;
  line-height: 26px;
}
@mixin font16 {
  font-size: 16px;
  line-height: 26px;
}
@mixin sectionTitle {
  font-size: 20px;
  line-height: 28px;
  font-weight: $fontBold;
  @include media(pc) {
    font-size: 26px;
    line-height: 34px;
  }
}
//chip search
@mixin chip {
  margin-right: 8px;
  font-size: 18px;
  line-height: 22px;
  height: 40px;
  border-radius: 100px;
  border: 1px solid $color-paleGray;
  font-family: $font-family;
  background-color: transparent;
  @include media(pc) {
    height: 42px;
    font-size: 20px;
    margin-top: 8px;
  }
  .css-6od3lo-MuiChip-label {
    padding: 0 16px;
  }
  .MuiChip-deleteIcon {
    margin: 0 7px 0 -14px;
    padding: 3px;
    @include media(pc) {
      margin: 0 7px 0 -10px;
      padding: 2px;
    }
  }
}
// mixins : text
@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin ellipsis-multiline($line) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

@mixin word-break {
  word-break: keep-all;
  word-wrap: break-word;
}

@mixin enterpriseNamewidthIcon {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 25px;
  font-weight: $fontBold;
  .enterpriseItem_certify {
    margin-left: 8px;
    &::before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      background: url('#{$imageUrl}/ico_certify_16@2x.png') no-repeat 0 0;
      background-size: 100% auto;
    }
  }
  .enterpriseItem_client {
    margin-left: 8px;
    &::before {
      content: '';
      display: block;
      width: 24px;
      height: 16px;
      background: url('#{$imageUrl}/ico_shake_16@2x.png') no-repeat 0 0;
      background-size: 100% auto;
    }
  }
}
@mixin enterpriseShortCut {
  margin-left: auto;
  display: flex;
  font-size: 16px;
  line-height: 28px;
  align-items: center;
  color: $color-gray;
  font-weight: $fontBold;
  letter-spacing: -0.5px;
  @include media(pc) {
    font-size: 18px;
  }
  &::after {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background: url('#{$imageUrl}/ico_next_32@2x.png') no-repeat 0 0;
    background-size: 100% auto;
  }
}
// @include arrow;
@mixin arrow {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 6px 0 8px;
  border-width: 1px 1px 0 0;
  border-color: $color-gray;
  transform: rotate(45deg);
  border-style: solid;
  vertical-align: middle;
}

@mixin mainContainer {
  max-width: $maxWidth;
  margin: 42px auto 0;
  @include media(pc) {
    margin-top: 80px;
  }
}
@mixin mainSection {
  margin-top: 42px;
  @include media(pc) {
    margin-top: 64px;
  }
}
@mixin mainHeadLine {
  display: flex;
  margin-bottom: 16px;
  @include sectionTitle;
  @include media(pc) {
    margin-bottom: 25px;
  }
  a {
    display: flex;
    align-items: center;
    &::after {
      content: '';
      display: block;
      width: 32px;
      height: 32px;
      background: url('#{$imageUrl}/ico_next_32@2x.png') no-repeat 0 0;
      background-size: 100% auto;
    }
  }
  .info_tooltip_wrap {
    margin-left: auto;
    .info_tooltip {
      right: 0;
      left: auto;
      transform: translateX(0);
    }
  }
}

@mixin mainBundleProduct {
  margin: 0 #{-$layout-side};
  padding: 0 #{$layout-side};
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  @include media(pc) {
    margin: 0 -15px;
    padding: 0;
    flex-wrap: wrap;
  }
  &_item {
    width: $widthMo;
    flex-shrink: 0;
    margin-right: 10px;
    margin-bottom: 0;
    @include media(pc) {
      width: calc(100% / 3);
      margin-right: 0;
    }
  }
}
@mixin mainEnterpriseItem {
  margin: 0 #{-$layout-side};
  padding: 0 #{$layout-side};
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  @include media(pc) {
    padding: 0;
    margin: -40px -15px 0;
    overflow: hidden;
  }
  .enterpriseItem_list_item {
    width: $widthMo;
    flex-shrink: 0;
    margin: 0 10px 0 0;
    scroll-snap-align: center;
    @include media(pc) {
      margin: 40px 0 0;
      padding: 0 15px;
      width: calc(100% / 3);
    }
  }
}
@mixin DetailHeadline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  font-weight: $fontBold;
  @include media(pc) {
    margin-bottom: 24px;
  }
}
@mixin LinkTextArrow_18 {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 22px;
  @include media(pc) {
    font-size: 26px;
    line-height: 32px;
  }
  &::after {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background: url('#{$imageUrl}/ico_next_32@2x.png') no-repeat 0 0;
    background-size: 100% auto;
  }
}
@mixin LinkTextArrow_16 {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 21px;
  font-weight: $fontBold;
  @include media(pc) {
    font-size: 18px;
    line-height: 22px;
  }
  &::after {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background: url('#{$imageUrl}/ico_next_32@2x.png') no-repeat 0 0;
    background-size: 100% auto;
  }
}
@mixin transition {
  transition: all 0.2s ease-out;
}
//@include del
@mixin del {
  position: relative;
  text-decoration: none;
  font-weight: $fontMedium;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(2px);
    width: 100%;
    height: 1px;
    background-color: $color-gray;
  }
}
//@include swiperWhiteButton
@mixin swiperWhiteButton {
  top: 32%;
  width: 40px;
  height: 60px;
  background-color: rgba(#fff, 0.7);
  @include media(pc-wide) {
    top: 37%;
  }
  &::after {
    font-size: 18px;
    font-weight: $fontBold;
    color: $color-gray2;
  }
}
// @include contentLeftPc
@mixin contentLeftPc {
  @include media(pc) {
    width: calc(71% - 60px);
  }
  @include media(pc-wide) {
    width: 1020px;
  }
}
@mixin likeButton($width: 32px, $height: 32px) {
  border: none !important;
  padding: 0 !important;
  background-color: transparent !important;
  &::before {
    content: '';
    display: block;
    width: $width;
    height: $height;
    background: url(#{$imageUrl}/ico_favorite_32@2x.png) no-repeat 0 0;
    background-size: 100% auto;
    // transition: all 0.2s ease-out;
  }
  &[aria-pressed='true'] {
    &::before {
      background: url(#{$imageUrl}/ico_favorite_active_32@2x.png) no-repeat 0 0;
      background-size: 100% auto;
      animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
    }
    .css-8je8zh-MuiTouchRipple-root {
      display: none;
    }
  }
  @keyframes heart {
    0%,
    15% {
      transform: scale(1.3);
      opacity: 0.5;
    }
  }
}
// 임시 삭제예정
// @include imgRequired;
@mixin imgRequired {
  content: 'asset 수급필요' !important;
  font-size: 11px;
  width: auto;
  color: red;
  word-break: keep-all;
}

// mixins : media query
@mixin media($breakpoint, $breakpoints: $G-breakpoints) {
  // If $breakpoint is a key that exists in
  // $G-breakpoints, get and use the value
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint: map-get($breakpoints, $breakpoint);
  }

  @media screen and (min-width: #{$breakpoint}) {
    @content;
  }
}

@mixin max-media($breakpoint, $breakpoints: $G-breakpoints) {
  // If $breakpoint is a key that exists in
  // $G-breakpoints, get and use the value
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint: map-get($breakpoints, $breakpoint);
  }

  @media screen and (max-width: #{$breakpoint}) {
    @content;
  }
}

@mixin landscape {
  @media screen and (orientation: landscape) {
    @content;
  }
}

@function setFontWeight($bold) {
  @if $bold== 'thin' {
    @return 100;
  } @else if $bold== 'light' {
    @return 300;
  } @else if $bold== 'normal' {
    @return 400;
  } @else if $bold== 'bold' {
    @return 700;
  } @else {
    @return $bold;
  }
}

$G-root-font-size: 16;

@mixin ricon($size) {
  $remSize: round(($size / 1.2) / $G-root-font-size * 1000) / 1000 * 1rem;

  font-size: $remSize;
}

@function setRem($size) {
  $remSize: round(($size / $G-root-font-size * 10000)) / 10000 * 1rem;

  @return $remSize;
}

@mixin rfonts($size: $initial-font-size, $lineHeight: false, $bold: false) {
  $lhr: 0;
  @if $enable-IE8 {
    font-size: $size * 1px;
  }
  font-size: setRem($size);
  @if $lineHeight {
    @if unitless($lineHeight) {
      $lhr: setRem($lineHeight);
      @if $enable-IE8 {
        line-height: $lineHeight * 1px;
      }
      line-height: $lhr;
    } @else {
      $lhr: $lineHeight;
      line-height: $lhr;
    }
  }
  @if $bold {
    font-weight: setFontWeight($bold);
  }
}

@mixin skeleton {
  border-radius: 3px;
  background-color: #f2f4f9;
  background-image: linear-gradient(to right, transparent 0, rgba(255, 255, 255, 0.4) 50%, transparent 100%);
  background-repeat: no-repeat;
  background-size: 100vh 100%;
  animation: 1.5s linear infinite shine;
}

@mixin tableSkeleton {
  min-height: 18px;
  @include skeleton;
}

@mixin pageSkeleton {
  min-height: 20px;
  @include skeleton;
}
